name: dependencies

on:
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  dependencies:
    name: Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use node 20
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn

      - name: Update dependencies
        run: yarn update:dependencies

      - name: Build packages
        run: yarn build

      - name: Run tests
        run: yarn test

      - name: Create dependencies pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore(release): update dependencies"
          title: "chore(release): update dependencies"
          body: "Update dependencies"
          branch: dependencies
          base: master
          # Use bot author for scheduled runs, and the triggering user (GitHub actor, as is typically the default
          # https://github.com/peter-evans/create-pull-request/blob/0edc001d28a2959cd7a6b505629f1d82f0a6e67d/action.yml#L32)
          # for manual runs
          author: ${{ github.event_name == 'schedule' && 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>' || '${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>' }}

  notify-slack:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [dependencies]
    if: ${{ always() && github.ref_name == 'master' && contains(needs.*.result, 'failure') }}
    steps:
      - uses: ravsamhq/notify-slack-action@bca2d7f5660b833a27bda4f6b8bef389ebfefd25 # 2.3.0
        with:
          status: ${{ job.status }}
          token: ${{ secrets.GITHUB_TOKEN }}
          notification_title: "SDK CI check failed on master branch"
          message_format: ":x: Check failed in <{repo_url}|{repo}@{branch}> on <{commit_url}|{commit_sha}>"
          footer: <{run_url}|View Run>
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
