name: "Close stale issues"
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          debug-only: true
          # Only mark issues as stale, not pull requests.
          days-before-pr-stale: -1
          days-before-issue-stale: 180
          stale-issue-message: "This issue has seen no recent activity and has been automatically closed for house-keeping purposes."
